@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>AlVer olarak, kullanıcılarımızın gizliliğine ve verilerinin korunmasına büyük önem veriyoruz. Web sitemizi ziyaret ederek veya hizmetlerimizi kullanarak, kişisel verilerinizin bu politikaya uygun şekilde işlenmesini kabul etmiş olursunuz. Kullanıcılarımızdan ad, soyad, e-posta, telefon numarası, adres gibi bilgiler toplayabilir; çerezler ve IP adresi gibi otomatik veriler kaydedebiliriz. Bu veriler, kullanıcı hesaplarının yönetimi, alım-satım işlemlerinin gerçekleştirilmesi, müşteri desteği ve güvenlik gibi amaçlarla kullanılır. Platformumuzda gerçekleşen alım-satım işlemlerinde [Proje Adı] yalnızca bir aracı hizmet sunmakta olup, satıcı ile alıcı arasındaki ürün kalitesi, teslimat veya ödemeden kaynaklanabilecek anlaşmazlıklarda hiçbir yükümlülük kabul etmez. Verilerinizi korumak için gerekli güvenlik önlemlerini alıyoruz ancak internet üzerinden yapılan iletimlerin tamamen güvenli olduğunu garanti edemeyiz. Üçüncü taraf sitelere verilen bağlantılar, onların gizlilik politikalarına tabidir ve bu konularda sorumluluk kabul etmiyoruz. Kullanıcılarımız, verilerine erişme, düzeltme veya silme haklarına sahiptir ve bu tür talepler veya sorular için bizimle info@AlVer.com adresi üzerinden iletişime geçebilir. Bu gizlilik politikası, zaman zaman güncellenebilir; bu nedenle değişikliklerden haberdar olmak için düzenli olarak kontrol edilmesini öneririz.</p>
